interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-htgTkl", "expires_in": 2679, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/shifts?limit=500&modified_since=2025-02-15T00%3A00%3A01Z
  response:
    body:
      string: '{"data": [{"id": 1000, "user_id": 1001, "department_id": 1002, "location_id":
        1003, "company_id": 1, "role_id": 1004, "station": 277, "station_name": "-Fallback-scrubbed-tupx",
        "station_id": 1541, "start": "2010-10-24T15:36:17Z", "end": "2018-12-04T07:16:57Z",
        "close": true, "business_decline": true, "hourly_wage": 1463, "notes": "",
        "draft": true, "notified": true, "open": true, "unassigned": true, "unassigned_skill_level":
        2076, "open_offer_type": "-Fallback-scrubbed-uvDjPUXncvTgrNLWrmdZ", "publish_status":
        "-Fallback-scrubbed-RlJUJrHXF", "attendance_status": "-Fallback-scrubbed-CMbk",
        "late_minutes": 2076, "created": "1971-08-19T13:03:02Z", "modified": "1983-12-21T02:53:00Z",
        "soft_deleted": null, "deleted": true, "breaks": []}, {"id": 1005, "user_id":
        1001, "department_id": 1002, "location_id": 1003, "company_id": 1, "role_id":
        1004, "station": 2141, "station_name": "-Fallback-scrubbed-kEnJDX", "station_id":
        7002, "start": "2018-02-24T19:52:22Z", "end": "2025-07-21T15:48:40Z", "close":
        true, "business_decline": true, "hourly_wage": 1463, "notes": "", "draft":
        true, "notified": true, "open": true, "unassigned": true, "unassigned_skill_level":
        2076, "open_offer_type":[...]
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/shifts?cursor=%3Cscrubbed-cursor%3E&limit=500&modified_since=2025-02-15T00%3A00%3A01Z
  response:
    body:
      string: '{"data": [{"id": 1183, "user_id": 1184, "department_id": 1002, "location_id":
        1003, "company_id": 1, "role_id": 1135, "station": 277, "station_name": "-Fallback-scrubbed-kEnJDX",
        "station_id": 1636, "start": "2013-[...]
[...]
