interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-kBgEEN", "expires_in": 8920, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/locations?limit=500&modified_since=2025-02-15
  response:
    body:
      string: '{"data": [{"id": 1000, "company_id": 1, "name": "Fake-Nicholas Bennett",
        "country": "-Fallback-scrubbed-CK", "state": "-Fallback-scrubbed-dp", "city":
        "Fake-East Zachary", "formatted_address": "-Fallback-scrubbed-ReRmSEnwcOWSdcWHYrRPikpkrHdxekGHTXynJrrvawmEJGQ",
        "lat": 61.20313, "lng": -125.91942, "place_id": "-Fallback-scrubbed-AifjDVzjIaYwiGFLFgdYkobkZXd",
        "timezone": "-Fallback-scrubbed-MoQfbNBUFAXvqbuAMci", "timezone_updated":
        true, "hash": "-Fallback-scrubbed-SacDykINrtpMoZAtYSrUfGEYNEaUSdZp", "mapping_id":
        "", "department_based_budget": true, "holiday_pay": false, "auto_send_log_book_time":
        null, "mon_hours_close": "-Fallback-scrubbed-NYQaMzLo", "tue_hours_close":
        "-Fallback-scrubbed-NYQaMzLo", "wed_hours_close": "-Fallback-scrubbed-NYQaMzLo",
        "thu_hours_close": "-Fallback-scrubbed-NYQaMzLo", "fri_hours_close": "-Fallback-scrubbed-NYQaMzLo",
        "sat_hours_close": "-Fallback-scrubbed-NYQaMzLo", "sun_hours_close": "-Fallback-scrubbed-NYQaMzLo",
        "mon_hours_open": "-Fallback-scrubbed-kEAfzUqQ", "tue_hours_open": "-Fallback-scrubbed-kEAfzUqQ",
        "wed_hours_open": "-Fallback-scrubbed-kEAfzUqQ", "thu_hours_open": "-Fallback-scrubbed-kEAfzUqQ",
        "fri_hours_open": "-Fallback-scrubbed-kEAfzUqQ", "sat_hours_open": "-Fallback-scrubbed-kEAfzUqQ",
        "sun_hours_open": "-Fallback-scrubbed-kEAfzUqQ", "mon_is_closed": true, "tue_is_closed":
        true, "wed_is_closed": true, "thu_is_closed": true, "fri_is_closed": true,
        "sat_is_closed": true, "sun_is_closed": true, "shift_feedback": false, "message":
        "", "deleted": true, "created": "1971-10-25T04:21:22+00:00", "modified": "1971-10-25T04:21:22+00:00"},
        {"id": 1001, "company_id": 1, "name": "Fake-Charles Frazier", "country": "-Fallback-scrubbed-CK",
        "state": "-Fallback-scrubbed-dp", "city": "Fake-East Zachary", "formatted_address":
        "-Fallback-scrubbed-ReRmSEnwcOWSdcWHYrRPikpkrHdxekGHTXynJrrvawmEJGQ", "lat":
        61.20313, "lng": -125.91942, "place_id": "-Fallback-scrubbed-AifjDVzjIaYwiGFLFgdYkobkZXd",
        "timezone": "-Fallback-scrubbed-MoQfbNBUFAXvqbuAMci", "timezone_updated":
     [...]
