interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-AsFrcO", "expires_in": 4177, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/departments?limit=500&modified_since=2025-02-15
  response:
    body:
      string: '{"data": [{"id": 1000, "company_id": 1, "location_id": 1001, "name":
        "Fake-Tiffany Obrien", "default": false, "deleted": null, "created": "1972-01-19T03:34:39+00:00",
        "modified": "1983-09-09T20:36:09+00:00"}, {"id": 1002, "company_id": 1, "location_id":
        1001, "name": "Fake-Jeffrey Wall", "default": false, "deleted": null, "created":
        "1972-01-19T03:34:39+00:00", "modified": "1972-01-19T03:34:39+00:00"}, {"id":
        1003, "company_id": 1, "location_id": 1004, "name": "Fake-Rhonda Rogers",
        "default": false, "deleted": null, "created": "1972-01-19T03:34:39+00:00",
        "modified": "1972-01-19T03:34:39+00:00"}, {"id": 1005, "company_id": 1, "location_id":
        1004, "name": "Fake-Jeffrey Wall", "default": false, "deleted": null, "created":
        "1972-01-19T03:34:39+00:00", "modified": "1972-01-19T03:34:39+00:00"}], "meta":
        {"cursor": {"current": "scrubbed-cursor-1", "prev": null, "next": null, "count":
        4}}, "object": "-Fallback-scrubbed-XZByKxzweIY"}'
    headers:
      Content-Type:
      - application/json
      x-api-version:
      - '2026-02-01'
    status:
      code: 200
      message: OK
version: 1
