interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-gvBdsY", "expires_in": 4365, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/users?limit=500
  response:
    body:
      string: '{"data": [{"id": 1000, "identity_id": 6124, "company_id": 1, "first_name":
        "Fake-Susan", "last_name": "Fake-Martin", "preferred_first_name": "Fake-Susan",
        "preferred_last_name": "Fake-Martin", "pronouns": null, "email": "fake.robin18@example.com",
        "mobile_number": "2819", "home_number": "", "address": "", "postal_zip": "",
        "city": "", "prov_state": "", "invite_status": "-Fallback-scrubbed-aFacqfOs",
        "last_login": "1988-07-30T23:38:45+00:00", "active": false, "photo": "-Fallback-scrubbed-DLBQMXcTNVVaXMSnDXIVHYUecHGJHPuDBeRzOivBdw",
        "notes": "", "timezone": null, "type": "-Fallback-scrubbed-dDRUJPPw", "punch_id":
        "7195", "employee_id": null, "max_weekly_hours": "", "invited": null, "invite_accepted":
        null, "is_new": false, "birth_date": null, "language": "-Fallback-scrubbed-yu",
        "appear_as_employee": false, "subscribe_to_updates": false, "skill_level":
        5088, "hourly_wage": 5088, "wage_type": "-Fallback-scrubbed-DJMhCG", "sms_me_schedules":
        null, "notify_ot_risk": null, "push": false, "permissions_template_id": 8720,
        "onboarding_required": false, "reactivation_status": null, "created": "2012-11-14T03:06:28+00:00",
        "modified": "1988-07-30T23:38:45+00:00"}, {"id": 1001, "identity_id": 8643,
        "company_id": 1, "first_name": "Fake-Alexis", "last_name": "Fake-Wilson",
        "preferred_first_name": "Fake-Alexis", "preferred_last_name": "Fake-Wilson",
        "pronouns": null, "email": "fake.gloriabarnett@example.com", "mobile_number":
        "", "home_number": "", "address": "", "postal_zip": "", "city": "", "prov_state":
        "", "invite_status": "-Fallback-scrubbed-aFacqfOs", "last_login": null, "active":
  [...]
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/users/1000/wages?limit=500
  response:
    body:
      string: '{"data": {"current_wages": [{"id": 1050, "effective_date": "2002-10-11",
        "role_id": 1051, "wage_type": "-Fallback-scrubbed-DJMhCG", "wage_cents": 4774,
        "enabled_days": null, "allocations": null, "created": "2016-09-08T10:14:07Z",
        "modified": "2016-09-08T10:14:07Z"}, {"id": 1052, "effective_date": "2002-10-11",
        "role_id": 1053, "wage_type": "-Fallback-scrubbed-DJMhCG", "wage_cents": 5104,
        "enabled_days": null, "allocations": null, "created": "2016-09-08T10:14:07Z",
        "modified": "2016-09-08T10:14:07Z"}, {"id": 1054, "effective_date": "2002-10-11",
        "role_id": 1055, "wage_type": "-Fallback-scrubbed-DJMhCG", "wage_cents": 9093,
        "enabled_d[...]
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/users/1000/assignments?limit=500
  response:
    body:
      string: '{"data": {"locations": [{"id": 1082, "name": "Fake-Claudia Mckenzie",
        "company_id": 1, "timezone": "-Fallback-scrubbed-mDrrQUvWjAHgUptDoEZ", "hash":
        "-Fallback-scrubbed-LugGBhcAjnVUebnZAmyMWkuuFuzGALNN", "formatted_address":
        "-Fallback-scrubbed-fPMFAUcfisVPkrshMIuFzMPgaYpAWdKMJoSaXKMPQNHaYWz", "lat":
        42.34121, "lng": -28.10279, "country": "-Fallback-scrubbed-Hu", "city": "Fake-Sloanchester",
        "state": "-Fallback-scrubbed-ET"}], "departments": [], "roles": []}, "object":
        "-Fallback-scrubbed-kEWopkGmnRk"}'
    headers:
      Content-Type:
      - application/json
      x-api-version:
      - '2026-02-01'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/users/1001/wages?limit=500
  response:
    body:
      string: '{"data": {"current_wages": [{"id": 1083, "effective_date": "2002-10-11",
        "role_id": 1051, "wage_type": "-Fallback-scrubbed-DJMhCG", "wage_cents": 5496,
        "enabled_days": null, "allocations": null, "created": "1972-08-11T13:23:28Z",
        "modified": "1972-08-11T13:23:28Z"}, {"id": 1084, "effective_date": "2002-10-11",
        "role_id": 1067, "wage_type": "-Fallback-scrubbed-DJMhCG", "wage_cents": 7178,
        "enabled_days": null, "allocations": null, "created": "1972-08-11T13:23:28Z",
        "modified": "1972-08-11T13:23:28Z"}], "upcoming_wages": [], "wage_type": "-Fallback-scrubbed-DJMhCG"},
        "object": "-Fallback-scrubbed-gZFnffhOOK"}'
    headers:
      Content-Type:
      - application/json
      x-api-version:
      - '2026-02-01'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/users/1001/assignments?limit=500
  response:
    body:
      string: '{"data": {"locations": [{"id": 1082, "name": "Fake-Claudia Mckenzie",
        "company_id": 1, "timezone": "-Fallback-scrubbed-mDrrQUvWjAHgUptDoEZ", "hash":
        "-Fallback-scrubbed-LugGBhcAjnVUebnZAmyMWkuuFuzGALNN", "formatted_address":
        "-Fallback-scrubbed-fPMFAUcfisVPkrshMIuFzMPgaYpAWdKMJoSaXKMPQNHaYWz", "lat":
        42.34121, "lng": -28.10279, "country": "-Fallback-scrubbed-Hu", "city": "Fake-Sloanchester",
        "state": "-Fallback-scrubbed-ET"}, {"id": 1085, "name": "Fake-Cheyenne Bush",
        "company_id": 1, "timezone": "-Fallback-scrubbed-mDrrQUvWjAHgUptDoEZ", "hash":
        "-Fallback-scrubbed-QIwiKEajmdfIMjkdwrJfrFDbGjxDdiYz", "formatted_address":
        "-Fallback-scrubbed-fPMFAUcfisVPkrshMIuFzMPgaYpAWdKMJoSaXKMPQNHaYWz", "lat":
        42.34121, "lng": -28.10279, "country": "-Fallback-scrubbed-Hu", "city": "Fake-Sloanchester",
        "state": "-Fallback-scrubbed-ET"}], "departments": [{"id": 1086, "company_id":
        1, "location_id": 1082, "name": "Fake-Kevin Smith", "appear_on_schedule":
        false}, {"id": 1087, "company_id": 1, "location_id": 1085, "name": "Fake-Stephanie
        Coffey", "appear_on_schedule": false}], "roles": [{"id": 1051, "company_id":
        1, "location_id": 1082, "department_id": 1086, "name": "Fake-Renee Duncan",
        "is_primary": false, "skill_level": 5088, "sort": 5088}, {"id": 1067, "company_id":
        1, "location_id": 1085, "department_id": 1087, "name": "Fake-Renee Duncan",
        "is_primary": false, "skill_level": 5088, "sort": 5088}]}, "object": "-Fallback-scrubbed-kEWopkGmnRk"}'
    headers:
      Content-Type:
      - application/json
      x-api-version:
      - '2026-02-01'
    status:
      code: 200
      message: OK
[...]
