interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-TsiyPr", "expires_in": 5351, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/companies?limit=500&modified_since=2025-02-15
  response:
    body:
      string: '{"data": [{"id": 1000, "name": "Fake-Phillip Becker", "uuid": "-Fallback-scrubbed-mbXjFHzMAyXomRjWeNfyRhHiJVYVBVAKrRUr",
        "country": "-Fallback-scrubbed-KX", "photo": "-Fallback-scrubbed-bhufAnargriYYkYrYodqhJI",
        "trial": false, "plan_id": "-Fallback-scrubbed-EvkiPXPfWstoCr", "created":
        "1991-11-07T12:30:51+00:00", "modified": "2009-07-03T05:39:32+00:00", "expires":
        "2001-12-17T00:17:41+00:00", "days_to_expire": 4854, "converted": null, "pos":
        "", "status": "-Fallback-scrubbed-UkVsP", "start_week_on": 7015, "meta": {"onboarding_complete":
        false, "buy_now": false, "employee_count_range": "4296", "signup_utm_source":
        "-Fallback-scrubbed-oWSmibAQEdZtCml", "signup_form_type": null, "utm_medium":
        null, "utm_source": "", "signup_content_source": "", "icp_segment": "-Fallback-scrubbed-BXnKZtWJrXvtBX",
        "ai_importer_invoked": false, "declared_number_of_locations": null, "marketing_site_visitor_uuid":
        null, "pricing_test_aggregate_id": "704", "paid_converted": null, "trial_checklist_stored_locally":
        false}, "active": false, "coupon": ""}], "object": "-Fallback-scrubbed-DSEbBbVHI"}'
    headers:
      Content-Type:
      - application/json
      x-api-version:
      - '2026-02-01'
    status:
      code: 200
      message: OK
version: 1
