interactions:
- request:
    body: grant_type=client_credentials&scope=v1_access+companies%3Aread+locations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.7shifts.com/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-XsJQGl", "expires_in": 2976, "access_token":
        "<scrubbed-access-token>"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-company-guid:
      - <scrubbed-guid>
    method: GET
    uri: https://api.7shifts.com/v2/company/1/roles?limit=500&modified_since=2025-02-15
  response:
    body:
      string: '{"data": [{"id": 1000, "company_id": 1, "location_id": 1001, "department_id":
        1002, "color": "-Fallback-scrubbed-PKFwVl", "num_stations": 3730, "name":
        "Fake-Chloe Tran", "job_code": null, "sort": 5029, "stations": [{"id": 1003,
        "role_id": 1000, "station_number": 5029, "name": "Fake-Jacob Tucker"}], "created":
        "-Fallback-scrubbed-mOwETquZzXljCGRSIMafJKzt", "modified": "-Fallback-scrubbed-mkQLWnSDBsQZYlYDCpdojIkZ",
        "is_tipped_role": false}, {"id": 1004, "company_id": 1, "location_id": 1001,
        "department_id": 1002, "color": "-Fallback-scrubbed-lbtsLP", "num_stations":
        3730, "name": "Fake-Shawn Harvey", "job_code": null, "sort": 915, "stations":
        [{"id": 1005, "role_id": 1004, "station_number": 5029, "name": "Fake-Dr. Kenneth
        Kim DVM"}, {"id": 1006, "role_id": 1004, "station_number": 915, "name": "Fake-Cindy
        Fitzgerald"}, {"id": 1007, "role_id": 1004, "station_number": 2147, "name":
    [...]
